<!doctype html>
<html lang="en">
  <head>
    <title>VIP tips</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body class="container">
  <table class="table table-bordered table-inverse table-responsive">
    <thead class="thead-inverse">
      <tr>
        <th>Time</th>
        <th>Match</th>
        <th>Tip</th>
        <th>Free</th>
        <th>Result</th>
        <th>Accuracy</th>
      </tr>
      </thead>
      <tbody>
     <% tips.map((tip) => { %>
      <% if(tip.match_is_today === 'YES') { %>
        <tr>
          <td><%= tip.time %></td>
          <td><%= tip.description%></td>
          <td><%= tip.tip%></td>
          <td><%= tip.free ? 'YES' : 'NO' %></td>
          <% if(tip.visible) { %>
            <td><%= tip.result%></td>
            <td class='text-center'>
              <% if(tip.output === tip.tip) { %>
                <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
              <% }else { %>
                <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
              <% } %>
            </td>
          <% }else { %>
            <td class='text-center'>
              <i class="fa fa-question-circle text-info" aria-hidden="true"></i>
            </td>
            <td class='text-center'>
              <i class="fa fa-question-circle text-info" aria-hidden="true"></i>
            </td>
          <% } %>
        </tr>
        <% } %>
     <% })%>
    </tbody>
  </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>